body {
    background-color: #181a1d;
    
}
body.rtl {
    unicode-bidi: bidi-override;
    text-align:right;
    direction: rtl;
}



h1 {
    color: red; 
}



.read-modal{
    border: none;
}

.book-img-container img{
    width: 17em;
}